<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WTForms Pet Adoption Exer 1</title>
</head>
<body>

  <h1>Pet Adoption Home</h1>

  {% for pet in pets %}
  <li>
      Pet Name: {{ pet.name }}<br>
      Species: {{ pet.species }}<br>
      
      <p>
      {% if pet.photo_url %}
          <img src="{{ pet.photo_url }}" alt="{{ pet.name }} Photo" width="200">
        
      {% else %}
          No Photo Available<br>
      {% endif %}
      </p>
      Age: {{ pet.age }}<br>
      Notes: {{ pet.notes }}<br>
      Available: {{ "Yes" if pet.available else "No" }}<br>
      <a href="{{ url_for('edit_pet', pet_id=pet.id) }}">Edit {{ pet.name }}</a>
  </li>
{% endfor %}
</ul>

  <ul>
    <li><a href="/add_pet_form">Add A Pet Here</a></li>
    
  </ul>

</body>
</html>